In [27]:
# Importo las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuro el estilo de mis gráficos
sns.set_style("whitegrid")

print("Librerías importadas correctamente")

Librerías importadas correctamente

In [28]:
# Cargo los datasets de entrenamiento y prueba
df_test = pd.read_csv("Titanic_test.csv")
df_train = pd.read_csv("Titanic_train.csv")

# Verifico la cantidad de filas de cada dataframe
print("Datasets cargados correctamente")
print(f"Número de filas en df_train: {df_train.shape[0]}")
print(f"Número de filas en df_test : {df_test.shape[0]}")

Datasets cargados correctamente
Número de filas en df_train: 891
Número de filas en df_test : 418

In [29]:
# Muestro las primeras 5 filas del dataframe de entrenamiento
print("Primeras 5 filas del dataset de entrenamiento (df_train)")
df_train.head()

Primeras 5 filas del dataset de entrenamiento (df_train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
# Obtengo información general sobre el dataframe de entrenamiento
print("\nInformación general de df_train")
df_train.info()

Información general de df_train
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [31]:
# Obtengo estadísticas descriptivas para las columnas numéricas del dataframe
print("\nEstadísticas descriptivas de df_train (columnas numéricas):")
df_train.describe()

Estadísticas descriptivas de df_train (columnas numéricas):

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [32]:
# Cuento todos los valores NaN por columna
print("\nConteo de valores nulos en df_train por columna:")
df_train.isnull().sum()

Conteo de valores nulos en df_train por columna:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
# Manejo valores nulos de embarked llenándolos con la moda
print("Valores nulos antes de imputar 'Embarked': ")
print(df_train['Embarked'].isnull().sum())

# Encuentro la moda de Embarked
moda_embarked = df_train['Embarked'].mode()[0]
df_train['Embarked'].fillna(moda_embarked, inplace=True)

print("\nValores nulos después de imputar 'Embarked': ")
print(df_train['Embarked'].isnull().sum())
print(f"Puerto de embarque imputado: {moda_embarked}")

Valores nulos antes de imputar 'Embarked':
2

Valores nulos después de imputar 'Embarked':
0
Puerto de embarque imputado: S

C:\Users\ACER NITRO\AppData\Local\Temp\ipykernel_7292\558801480.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Embarked'].fillna(moda_embarked, inplace=True)